html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

img,
embed,
object,
audio,
video {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

a {
  text-decoration: none;
}

html {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  color: #404040;
  line-height: 1.5;
}

p:not(:last-child) {
  margin-bottom: 1.5rem;
}

a:not(.button) {
  color: #0040c0;
}

a:not(.button):hover {
  color: #002f8d;
  border-bottom: 1px solid #002f8d;
  margin-bottom: -3px;
  padding-bottom: 2px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.0rem;
  line-height: 1;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0;
}

h6 {
  font-size: .875rem;
  line-height: 1.71429;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1068px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
  .container.is-fluid {
    margin-left: 24px;
    margin-right: 24px;
    max-width: none;
    width: auto;
  }
}

@media screen and (max-width: 1259px) {
  .container.is-widescreen {
    max-width: 1152px;
    width: auto;
  }
}

@media screen and (max-width: 1451px) {
  .container.is-fullhd {
    max-width: 1344px;
    width: auto;
  }
}

@media screen and (min-width: 1260px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1452px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}

.box {
  display: block;
  background-color: #fff;
  border: 1px solid silver;
  padding-top: calc(1.5rem - 1px);
  padding-right: 1.5rem;
  padding-bottom: calc(1.5rem - 1px);
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(192, 192, 192, 0.2);
}

.content {
  margin-bottom: 24px;
}

.content > div:not(.columns):not(:last-child) {
  margin-bottom: 24px;
}

.content > ul:not(:last-child) {
  margin-bottom: 24px;
}

.content > table:not(:last-child) {
  margin-bottom: 24px;
}

.button {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  height: 2.5rem;
  cursor: pointer;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  background: #fff;
  color: #404040;
  border: 1px solid silver;
  box-shadow: 0 2px 3px rgba(192, 192, 192, 0.2);
}

.button:hover {
  box-shadow: 0 3px 5px rgba(192, 192, 192, 0.4);
  border-color: gray;
  transition: .25s all;
}

.button + .button {
  margin-left: 12px;
}

.button.is-white {
  background-color: #fff;
  border-color: transparent;
  color: #404040;
}

.button.is-white:hover {
  background-color: #e6e6e6;
}

.button.is-white.is-light {
  background-color: white;
  color: #fff;
}

.button.is-white.is-light:hover {
  background-color: white;
}

.button.is-black {
  background-color: #404040;
  border-color: transparent;
  color: #fff;
}

.button.is-black:hover {
  background-color: #272727;
}

.button.is-black.is-light {
  background-color: silver;
  color: #404040;
}

.button.is-black.is-light:hover {
  background-color: #b3b3b3;
}

.button.is-primary {
  background-color: #8000c0;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover {
  background-color: #5e008d;
}

.button.is-primary.is-light {
  background-color: #eac0ff;
  color: #8000c0;
}

.button.is-primary.is-light:hover {
  background-color: #e2a7ff;
}

.button.is-info {
  background-color: #0040c0;
  border-color: transparent;
  color: #fff;
}

.button.is-info:hover {
  background-color: #002f8d;
}

.button.is-info.is-light {
  background-color: #c0d5ff;
  color: #0040c0;
}

.button.is-info.is-light:hover {
  background-color: #a7c4ff;
}

.button.is-success {
  background-color: #00c040;
  border-color: transparent;
  color: #fff;
}

.button.is-success:hover {
  background-color: #008d2f;
}

.button.is-success.is-light {
  background-color: #c0ffd5;
  color: #00c040;
}

.button.is-success.is-light:hover {
  background-color: #a7ffc4;
}

.button.is-warning {
  background-color: #e0c000;
  border-color: transparent;
  color: #fff;
}

.button.is-warning:hover {
  background-color: #ad9400;
}

.button.is-warning.is-light {
  background-color: #fffbe0;
  color: #e0c000;
}

.button.is-warning.is-light:hover {
  background-color: #fff7c7;
}

.button.is-danger {
  background-color: #c00040;
  border-color: transparent;
  color: #fff;
}

.button.is-danger:hover {
  background-color: #8d002f;
}

.button.is-danger.is-light {
  background-color: #ffc0d5;
  color: #c00040;
}

.button.is-danger.is-light:hover {
  background-color: #ffa7c4;
}

.columns {
  display: flex;
  margin-top: -12px;
  margin-right: -12px;
  margin-bottom: -12px;
  margin-left: -12px;
}

.columns:not(:last-child) {
  margin-bottom: 12px;
}

.column {
  padding: 12px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.column .is-narrow {
  flex-grow: 0;
}

table {
  margin-top: -1px;
}

table.is-striped tbody tr:nth-child(even) td {
  background-color: #f3f3f3;
}

table.is-bordered {
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}

table thead tr {
  border-bottom: 2px solid silver;
}

table thead tr th {
  padding: 12px 12px 11px 12px;
}

table.is-bordered thead tr {
  border-top: 1px solid silver;
  border-bottom: 0;
}

table tfoot tr {
  border-top: 1px solid silver;
  border-bottom: 1px solid transparent;
}

table tfoot tr th {
  padding: 11px 12px 12px 12px;
}

table.is-bordered tfoot tr {
  border-bottom: 1px solid silver;
}

tbody tr {
  border-top: 1px solid silver;
}

tbody tr td {
  padding: 11px 12px 12px 12px;
}

body.grid {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 0, 0, 0.25) 25%, rgba(255, 0, 0, 0.25) 26%, transparent 27%, transparent 74%, rgba(255, 0, 0, 0.25) 75%, rgba(255, 0, 0, 0.25) 76%, transparent 77%, transparent);
  height: 100%;
  background-size: 48px 48px;
  background-position: 0 12px;
}

#grid-toggler {
  position: fixed;
  top: 0;
  right: 0;
  background: #eee;
  padding: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=tricho.css.map */