$button-height: #{$vertical-height + 1}rem

.button
  display: inline-flex
  align-items: center
  font-family: inherit
  font-size: inherit
  height: $button-height
  cursor: pointer
  padding:
    top: $gap/3
    right: $gap
    bottom: $gap/3
    left: $gap
  margin:
    top: $gap/6
    bottom: $gap/6
  border-radius: $radius

  background: $white
  color: $text-color
  border: $border-width solid $border-color
  box-shadow: $shadow

  &:hover
    box-shadow: $shadow-hover
    border-color: $border-color-hover
    transition: .25s all

  & + .button
    margin-left: $gap/2


  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      border-color: transparent
      color: $color-invert

      &:hover
        background-color: darken($color, 10%)

      &.is-light
        background-color: lighten($color, 50%)
        color: $color

        &:hover
          background-color: lighten($color, 45%)

