html
  font-family: $family-sans-serif
  font-size: $font-size
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  overflow-x: hidden
  overflow-y: scroll
  text-rendering: $render-mode
  color: $text-color
  line-height: $default-line-height

p:not(:last-child)
  margin-bottom: $default-whitespace

a
  color: $primary