html
  font-family: $family-sans-serif
  font-size: $font-size
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  overflow-x: hidden
  overflow-y: scroll
  text-rendering: $render-mode

p
  line-height: $default-line-height

  &:not(:last-child)
    margin-bottom: $default-whitespace